body{
background-image: url("iron-man.jpg");

margin: 0;
    height: auto;
       filter: alpha(opacity=50);
}
body

.Main-Section {

}


.form-control {
margin-left: 430px;

}

.navbar h1 {
  font-size: 40px;
  font-style: bold;
  font-family:arial;
  color:white;
}


.container-fluid {
background-color:Black;
color: lightblue;
font-family:Arial Black;
width:100%;
border-bottom: 3px solid white;


}

.container{
  margin-left: 10px;
}

#main-img  {
width:;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 100%

}



.jumbotron {
    background-size: auto;
    background-repeat: no-repeat;
    text-shadow: black 0.6em 0.6em 0.6em;
    max-width: 100%;
    width: 98.5%;
    text-decoration: none;
    height:50vh;
    border-bottom: 3px solid black;
    font-family: Impact;
margin-right: 15px;

}

.row {
  margin: 0;
  width: 103%;
}

.jumbotron a {
  color: white;
}

.container-fluid: {

}

.jumbotron
img#main-img {
  opacity: 1;
  filter: alpha(opacity=50);
}

.main-nav {

    text-align: center;
    margin-top: 200px;



}
