body{
background-image: url("iron-man.jpg");
max-width: 110%;
    height: auto;
       filter: alpha(opacity=50);
}
body

.navbar-header {
  max-width: 80%;
}

.form-control {
margin-left: 430px;

}

.form-group {

}

.navbar h1 {
  font-size: 40px;
  font-style: bold;
  font-family:arial;
  color:white;
}

.container-fluid {
background-color:transparent;
}

#main-img  {
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 100%

}

img#main-img {
  opacity: 1;
  filter: alpha(opacity=50);
}

.main-nav {

    text-align: center;
    margin-top: 200px;



}
